<?xml version="1.0"?>
<robot name="conveyor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->
  <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->
  
  <xacro:macro name="clipper" params="prefix parent">

  <joint name="${prefix}clipper_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}clipper_link"/>
      <!-- axis xyz="0 1 0" />
      <limit upper="1" lower="-1" effort="0" velocity="0"/ -->
  </joint>
  
  <link name="${prefix}clipper_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/> <!-- XXX check these values -->
        <geometry>
          <mesh filename="package://injerrobot_description/meshes/clipper.stl" />
        </geometry>
                  <material name="grey">
                <color rgba="0.5 0.5 0.5 1.0"/>
        </material>

      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://injerrobot_description/meshes/clipper.stl"/>
        </geometry>
          <material name="red">
                <color rgba="1.0 0.0 0.0 1.0"/>
        </material>

      </collision>
   </link>

</xacro:macro>

</robot>
